<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="container">
<header>
    <%- include('partials/header'); %>
</header>

<main>
    <div class="container">
        <%- include('partials/navabar'); %>
        <%- include('partials/sectionAbout1'); %>
        <%- include('partials/sectionAbout2'); %>
       
    </div> 
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</main>

    <%- include('partials/script'); %>
</body>
</html>