<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('partials/header'); %>
</header>

<main>
    <div class="container">
        <%- include('partials/navabar'); %>
        <%- include ('partials/section1'); %>
        <%- include ('partials/section2'); %>
        <%- include ('partials/section3'); %>
        <%- include('partials/testimonials'); %>
    </div>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
    <%- include('partials/script'); %>
</main>
</body>
</html> 