<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/auth/signup/signup.css">
    <link rel="stylesheet" href="/css/auth/signup/style.css.map">
    <%- include('partials/head') %>
</head>
<body class="container">
<header>
    <%- include('partials/header'); %> <!--Write a logic here -->
</header>

<main>
    <div class="container">
        <%- include('partials/appAuthUI/signin'); %>
    </div> 

    
    <footer>
        <%- include('partials/appAuthUI/signupFooter'); %>
    </footer>
</main>
    <%- include('partials/script'); %>
</body>
</html>