<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body class="container">
<header>
    <link rel="stylesheet" href="/css/wordpress/wordpress.css">
    <link rel="stylesheet" href="/css/wordpress/wordpressPricicng.css" >
    <%- include('partials/header'); %>
</header>

<main>
    <div class="container">
        <%- include('partials/navabar'); %>
        <%- include('partials/sectionWordpress'); %> 
        <%- include('partials/wordpressPrice'); %>
        <%- include('partials/wordpress'); %>   
    </div> 
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</main>
    <%- include('partials/script'); %>
</body>
</html>